<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>Login</h1>
            <form id="loginForm" method="POST">
                <label for="region">Region:</label>
                <select id="region" name="region" required>
                    <option value="Local">Local</option>
                    <option value="Asia-Pacific">Asia-Pacific</option>
                    <option value="Chinese Mainland">Chinese Mainland</option>
                    <option value="Europe">Europe</option>
                    <option value="North Amcerica">North America</option>
                    <option value="Others">Others</option>
                </select>

                <div id="CloudLogin">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <div id="LocalLogin">
                    <label for="ipAddress">IP address:</label>
                    <input type="text" id="ipAddress" name="ipAddress" placeholder="Enter IP address">

                    <label for="accesscode">Access code:</label>
                    <input type="text" id="accesscode" name="accesscode" placeholder="Enter the access code">
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>

    <script>
        const regionSelect = document.getElementById("region");
        const cloudLogin = document.getElementById("CloudLogin");
        const localLogin = document.getElementById("LocalLogin");

        function toggleLoginField() {
            if (regionSelect.value === "Local") {
                cloudLogin.style.display = "none";
                localLogin.style.display = "block";
            } else {
                cloudLogin.style.display = "block";
                localLogin.style.display = "none";
            }
        }

        toggleLoginField();

        regionSelect.addEventListener("change", toggleLoginField);
    </script>
</body>
</html>