<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
    <title>Set Filament</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>Set Filament</h1>
            <form method="POST">
                <label for="filament_id">Filament ID:</label>
                <select name="filament_id" id="filament_id">
                    {%  for filament_id, data in filament_list.items() %}
                    <option value="{{ filament_id }}">{{ data['name'] }}</option>
                    {% endfor %}
                </select><br>
                <label for="selected_filament_id">Selected Filament ID:</label>
                <div id="selected_filament_id"></div>
                <br><br>

                <label for="filament_color">Filament color (RRGGBBAA):</label>
                <input type="text" id="filament_color" name="filament_color" value="" required><br><br>

                <label for="tray_id">Tray ID (1-4, 0=lowest empty tray):</label>
                <input type="text" id="tray_id" name="tray_id" value="0" required><br><br>

                <button type="submit">Set Filament</button>
            </form>
        </div>
    </div>
    <script>
    const selectElement = document.getElementById('filament_id');
    const valueDisplay = document.getElementById('selected_filament_id');

    function updateFilamentID() {
        valueDisplay.textContent = selectElement.value;
    }

    selectElement.addEventListener('change', updateFilamentID);

    updateFilamentID();
</script>
</body>
</html>