<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
    <title>Set Filament</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>Set Filament</h1>
            <form method="POST">
                <label for="filament_id">Filament ID:</label>
                <select name="filament_id" id="filament_id">
                    <option disabled>--- Custom Filaments ---</option>
                    {%  for filament in custom_list%}
                    <option value="{{ filament[0] }}">{{ filament[1] }}</option>
                    {% endfor %}
                    <option disabled>--- System Filaments ---</option>
                    {%  for filament in system_list %}
                        <option value="{{ filament[0] }}">{{ filament[1] }}</option>
                    {% endfor %}
                </select>
                <label for="selected_filament_id">Selected Filament ID:</label>
                <div id="selected_filament_id"></div>
                <br>
                <label for="qr-code">QR-Code:</label>
                <a id="a-qr-code"><img src="" id="img-qr-code" alt="QR Code" /></a>

                <label for="filament_color">Filament color (RRGGBBAA):</label>
                <input type="text" id="filament_color" name="filament_color" value="000000FF" required>

                <label for="tray_id">Tray ID (1-4, 0=lowest empty tray):</label>
                <input type="text" id="tray_id" name="tray_id" value="0" required>

                <button type="submit">Set Filament</button>
            </form>
        </div>
    </div>
    <script>
    const selectElement = document.getElementById('filament_id');
    const valueDisplay = document.getElementById('selected_filament_id');
    const colorElement = document.getElementById('filament_color');
    const imgElement = document.getElementById('img-qr-code')
    const aElement = document.getElementById('a-qr-code')

    function updateFilamentID() {
        valueDisplay.textContent = selectElement.value;
        loadQRCode(selectElement.value, colorElement.value)
    }

    selectElement.addEventListener('change', updateFilamentID);
    colorElement.addEventListener('change', updateFilamentID);

    function loadQRCode(filament_id, filament_color) {
        imgElement.src = '/api/qr-code?filament_id='+filament_id+'&filament_color='+filament_color;
        aElement.href = '/api/qr-code?filament_id='+filament_id+'&filament_color='+filament_color;
    }
    updateFilamentID();
</script>
</body>
</html>